/* 
- Mobile: 375px
- Desktop: 1440px 



















*/

  @import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Hanken+Grotesk:wght@500;700;800&family=Montserrat:wght@500;700&display=swap');




:root {
--darkCyan:hsl(158, 36%, 37%);
--cream: hsl(30, 38%, 92%);
--very-dark-blue: hsl(212, 21%, 14%);
--dark-grayish-blue: hsl(228, 12%, 48%);
--White: hsl(0, 0%, 100%);

}

html,body {
  height: 100%;
  width: 100%;
  background-color: VAR(--cream);
}

*,::after,::before {
  box-sizing: border-box;
  margin:0;
  padding:0;
}
/* dynamic view port height  */
.container {
  width: 100dvw;
  height: 100dvh;
  padding: 10px;
  /* border: 1px solid red; */
  /* border-radius: 15px; */
}


.up {
  /* border: 1px solid red ; */
  height: 30%;
  width: calc(100% );
  background-image: url("./images/image-product-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 9px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/* img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  
} */
.down{
  text-wrap:balance;
  height: var(100% - 30%);
  width: 100%;
  /* border: 1px solid red; */
  padding: 0 15px 0 15px;
  background-color: var(--White);
  border-bottom-left-radius:9px ;
  border-bottom-right-radius: 9px;
}


p {
  color: var(--dark-grayish-blue);
  font-family: 'Montserrat', sans-serif;
  padding: 20px 10px;
 font-weight: 500;

}


.first-p {
 text-transform: uppercase;


  letter-spacing:5px;

}


h1 {
  padding: 0px 10px;
  margin: 0;
  font-family: 'Fraunces', serif;
  font-weight: 700;
}


.price-section {
  display: flex;

align-items: center;
/* width: 90%; */
}





.new-price {
  /* padding: 0; */
  margin: 0;
 
  color: var(--darkCyan);
}


.deleted-price {
  align-self: flex-end;
  
}




.button {
  display: flex;
  justify-content: center;
}










button {
/* vertical margin work if i put the display inline-block  but horizontal not , and vice versa if display block  why????  so i will use flex  */

  background-color: var(--darkCyan);
  width: calc(100% - 30px);
  padding: 10px;
  /* display: block; */
  border: none;
  border-radius: 5px;
  color:var(--cream);
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin: 30px auto;
  /* text-indent: 2px; */


}

button:hover {
  cursor: pointer;

}




@media screen and (min-width :415px)
{


  .the-bigone{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }


  .container {
    width: 65%;
    height: auto;
    /* margin: auto;
    vertical-align: middle; */
    display: grid;
    grid-template-columns: repeat(2,50%);
    
    grid-template-rows: repeat(1,1fr);
  }

  .up {
    width: 100%;
    height: 100%;

    background-image: url("./images/image-product-desktop.jpg");

  
    border-radius: 0;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    /* border :1px solid red ; */

    background-size: 100% 100%;
    object-fit: contain;
  }
 
  .down {
    width: 100%;
    height: 100%;
    border-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

}


@media screen and (min-width:1000px) {
 .container {
  width: 50%;
 } 
}
